<?xml version="1.0" encoding="utf-8"?>

<!-- In principle, each app should have unique package -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikola.exampleactivities">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Declares 1st (main) activity. Action "MAIN" and category "LAUNCHER" properties
         makes it visible in the application launcher -->
        <activity
            android:name="com.nikola.exampleactivities.activities.FirstActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--Declare Settings activity-->
        <activity
            android:name=".activities.SettingsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_settings_name"
            android:theme="@style/AppTheme"
            android:parentActivityName=".activities.FirstActivity">

        </activity>

        <!--Moramo definisati punu putanju do naseg servisa-->
        <service android:name="com.nikola.exampleactivities.async.SimpleService"/>
    </application>

</manifest>